.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*
/mlruns
847d1692e66dd5302daf9ca9e4c84afb