[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
fastparquet = "*"
prefect = "==2.0b5"

[dev-packages]

[requires]
python_version = "3.10"
